alias vi=nvim
alias dev="cd /Volumes/dev"

# Eza configuration - use ~/.config/eza for theme files
export EZA_CONFIG_DIR="{{ .chezmoi.homeDir }}/.config/eza"

# Eza aliases
alias ls='eza --icons -la'
alias lt='eza --icons --tree'
export EDITOR="nvim"
